.message {
    margin-left:74px;
}

.container-main {
    margin-left:72px;
}
.btn-group {
   
    margin-right: 1rem; 
    margin-left:0;
    margin-top: 30px;
}

#start-button {
    margin-top: 30px;
}

.card-group {
    margin-top: 50px;
}

.container-contact {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin-top:0;
}

.navbar-brand {
    color: black; 
    font-weight: bold;
    margin-right: 100%;
    
}

.card-img-top {
    margin-top: 30px;
}
